<script>
if (window.matchMedia("(min-width: 760px)").matches) {
    var js = document.createElement("script");
    js.type = "text/javascript";
    js.defer = true;
    js.src = "https://frezcirno.github.io/static/live2d-widget/autoload.js";
    document.getElementsByTagName('head')[0].appendChild(js);
}
</script>