<script defer src="/scripts/fireworks.js"></script>
<style>
@font-face {
    font-family: 'Libertinus Serif';
    src: url(https://frezcirno.github.io/static/Libertinus-7.040/static/WOFF2/LibertinusSerif-Regular.woff2);
}
@font-face {
    font-family: 'Libertinus Sans';
    src: url(https://frezcirno.github.io/static/Libertinus-7.040/static/WOFF2/LibertinusSans-Regular.woff2);
}
@font-face {
    font-family: 'Libertinus Math';
    src: url(https://frezcirno.github.io/static/Libertinus-7.040/static/WOFF2/LibertinusMath-Regular.woff2);
}
</style>