//body {
//  background-image: url('https://frezcirno.github.io/static/background.jpg');
//  background-repeat: no-repeat;
//  background-attachment: fixed; //不重复
//  background-size: cover; //填充
//  background-position: 50% 50%;
//}

.posts-expand {
  opacity: 0.95;
}

.sidebar {
  opacity: 0.9;
}

.header-inner {
  background: rgba(255,255,255,0.9);
}

.popup {
  opacity: 0.9;
}

@media (min-width: 991px) {
  .main {
    margin-top: 20px;
  }
}

.header-inner {
  overflow: hidden;
}

.fireworks {
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
}

figure.highlight {
  border-radius: 4px;
  overflow: hidden;

  .gutter {
    pre {
      border-right: 1px solid #c5c5c5;
    }
  }
}

.site-brand-container {
  border-radius: 10px 10px 3px 3px;
}

.site-subtitle, .site-author-name {
  font-family: Libertinus Math, Noto Sans CJK SC, Noto Serif CJK SC, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}