$border-radius-inner     = 10px 10px 10px 10px;
$border-radius           = 10px;
$headband-height         = 0px;

//$theme-color = #8dc63f33;
$body-bg-color = #8dc63f33;

$box-shadow = 0 2px 4px 0 rgba(0, 0, 0, .05);
$box-shadow-inner = 0 2px 4px 0 rgba(0, 0, 0, .05);

$highlight-gutter-background = $highlight-background;
